##############################
## Java
##############################
*.class
*.jar
*.war
*.ear

##############################
## Maven
##############################
target/
.mvn/

##############################
## IntelliJ
##############################
.idea/
*.iml

##############################
## Eclipse
##############################
.settings/
.metadata
.classpath
.project

##############################
## OS X
##############################
.DS_Store
